@mixin absolute {
  position: absolute;
}

@mixin absolute-x-c {
  @include absolute;

  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-y-c {
  @include absolute;

  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-c {
  @include absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
