.banner {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  align-items: center;

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    padding: 0 1rem;
  }

  &__title {
    font-size: $h3-size;
    font-weight: $bold-font-weight;
  }
}
