.dialog {
  &__body {
    margin-bottom: 2rem;
  }

  &__actions {
    @include flex-row;

    align-items: stretch;
    justify-content: center;
    margin-left: -1rem;
    padding: 0.5rem;
    width: calc(100% + 2rem);
  }

  &__action {
    flex: 1 0 0;
    margin: 0 0.5rem;
  }
}
