.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-ac {
  align-items: center;
}

.flex-jc {
  justify-content: center;
}

.flex-c {
  @extend .flex-ac;
  @extend .flex-jc;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.flex-fill {
  flex: 1 0 0;
}

.divider {
  border: solid 0.05rem rgba(0, 0, 0, 0.09);
}

.stretched {
  align-self: stretch;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}
