@font-face {
  font-family: 'SR Icons';
  src: url('../../fonts/sr-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "v-icons";
  src: url("../../fonts/vector/v-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
