.hmr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $popover-z;
  padding: 0;
  min-width: 100%;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &__progress {
    height: 0.7rem;
    background-color: $success-color;
  }
}
