/* stylelint-disable */
$flag-height: 15px !default;
$flag-width: 20px !default;
$flag-padding: 8px !default;

// image related variables
$flags-image-path: "global/flags/images" !default;
$flags-image-name: "flags" !default;
$flags-image-extension: "png" !default;