$audio-indicator-background: $success-color;

.audio-indicator {
  position: relative;
  overflow: hidden;
  display: flex;

  i {
    position: relative;
    z-index: 1;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $audio-indicator-background;
  }
}
