.meeting-endcall-dialog {
  &__input {
    width: 100%;
    height: 4rem;
    padding: 1rem 3rem 1rem 1rem;
    margin: 0;
    border: 0.1rem solid $border-color;
    border-radius: $border-radius;
  }

  &__label {
    padding: 0.5rem;
  }
}
